.App{
  font-family: "Sanchez", serif;
  color: white;
}

h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
}

.container {
  max-width: 768px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.quote-container {
  position: relative;
}

.quote-symbol {
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 8rem;
  color: #fff; 
  margin-left: 5px; 
}

.quote{
  position: relative;
  width: 100%;
  font-size: 20px;
  line-height: 1.7em;
  word-break: break-word;
}

footer{
  font-size: 0.8em;
  font-weight: 700;
  color: #d3d3cf;
  text-align: right;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader.show {
  opacity: 1;
}

.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #f4f4f4;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
